@using Oblig2.Models.ViewModels
@model CommentViewModel


<head>
    <title>Details Comment</title>
</head>
<body>
<div>
    <textarea readonly style="width: 100%; height: auto;" rows="5">@Model.CommentContent</textarea>

</div>
</body>